In [2]:
%pip install scikit-learn
%pip install numpy
%pip install pandas
%pip install seaborn

Requirement already satisfied: scikit-learn in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.25.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (1.25.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.25.0)
Requirement already satisfied: pandas>=0.25 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.0.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jhona\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split

In [21]:
df = pd.read_csv("american_bankruptcy.csv")
df

,company_name,status_label,year,X1,X2,X3,X4,X5,X6,X7,...,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18
0,C_1,alive,1999,511.267,833.107,18.373,89.031,336.018,35.163,128.348,...,1024.333,740.998,180.447,70.658,191.226,163.816,201.026,1024.333,401.483,935.302
1,C_1,alive,2000,485.856,713.811,18.577,64.367,320.590,18.531,115.187,...,874.255,701.854,179.987,45.790,160.444,125.392,204.065,874.255,361.642,809.888
2,C_1,alive,2001,436.656,526.477,22.496,27.207,286.588,-58.939,77.528,...,638.721,710.199,217.699,4.711,112.244,150.464,139.603,638.721,399.964,611.514
3,C_1,alive,2002,396.412,496.747,27.172,30.745,259.954,-12.410,66.322,...,606.337,686.621,164.658,3.573,109.590,203.575,124.106,606.337,391.633,575.592
4,C_1,alive,2003,432.204,523.302,26.680,47.491,247.245,3.504,104.661,...,651.958,709.292,248.666,20.811,128.656,131.261,131.884,651.958,407.608,604.467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78677,C_8971,alive,2014,233.211,43.338,14.094,45.615,3.376,25.261,22.846,...,104.223,1099.101,184.666,31.521,60.885,28.197,28.095,104.223,225.887,58.608
78678,C_8971,alive,2015,105.559,59.184,42.592,202.133,2.288,129.688,54.611,...,291.153,1865.926,770.103,159.541,231.969,88.128,157.783,291.153,880.327,89.020
78679,C_8971,alive,2016,63.971,69.074,65.057,79.051,2.581,-1.442,42.467,...,169.858,1746.235,683.985,13.994,100.784,85.765,156.341,169.858,770.233,90.807
78680,C_8971,alive,2017,135.207,66.527,65.330,69.171,2.013,-20.401,27.217,...,161.884,1736.110,694.035,3.841,95.357,82.010,135.941,161.884,776.697,92.713
78681,C_8971,alive,2018,82.589,68.817,65.201,67.262,2.112,-50.946,45.839,...,160.513,1625.370,632.122,2.061,91.696,79.365,84.995,160.513,712.687,93.251

In [22]:
# Verificando algumas informacoes sobre os dados de cada coluna da tabela, para entede-los 
# e assim possibilitar o correto pre-processamento

vis = pd.DataFrame(df.dtypes, columns=['dtype'])
vis['missing values qtt'] = df.isnull().sum().values
vis['unique values qtt'] = df.nunique().values

desc = pd.DataFrame(df.describe(include='all').transpose())
vis['min value'] = desc['min'].values
vis['max value'] = desc['max'].values

vis

,dtype,missing values qtt,unique values qtt,min value,max value
company_name,object,0,8971,NaN,NaN
status_label,object,0,2,NaN,NaN
year,int64,0,20,1999.0,2018.0
X1,float64,0,65895,-7.76,169662.0
X2,float64,0,65690,-366.645,374623.0
X3,float64,0,36010,0.0,28430.0
X4,float64,0,59060,-21913.0,81730.0
X5,float64,0,38898,0.0,62567.0
X6,float64,0,55550,-98696.0,104821.0
X7,float64,0,49577,-0.006,65812.0
X8,float64,0,77580,0.0001,1073390.54
X9,float64,0,68596,-1964.999,511729.0
X10,float64,0,71521,0.001,531864.0
X11,float64,0,39741,-0.023,166250.0
X12,float64,0,56949,-25913.0,71230.0
X13,float64,0,64952,-21536.0,137106.0
X14,float64,0,58685,0.001,116866.0
X15,float64,0,72062,-102362.0,402089.0
X16,float64,0,68596,-1964.999,511729.0
X17,float64,0,64640,0.001,337980.0
X18,float64,0,70840,-317.197,481580.0

In [23]:
# Na tabela printada acima podemos perceber que não há dados faltando no dataframe e também que
# nem todas as colunas vão ser usadas para fazer a inferência

In [24]:
# A coluna 'status_label'(mostra se o banco está falido ou não) é o target, ou seja, o "gabarito", a resposta final
target = df['status_label']
target

0        alive
1        alive
2        alive
3        alive
4        alive
         ...
78677    alive
78678    alive
78679    alive
78680    alive
78681    alive
Name: status_label, Length: 78682, dtype: object

In [25]:
# As colunas 'company_name' e 'year' não vão ser usadas

df_pre_proc = df.drop(['company_name', 'year', 'status_label'] , axis=1)

df_pre_proc

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18
0,511.267,833.107,18.373,89.031,336.018,35.163,128.348,372.7519,1024.333,740.998,180.447,70.658,191.226,163.816,201.026,1024.333,401.483,935.302
1,485.856,713.811,18.577,64.367,320.590,18.531,115.187,377.1180,874.255,701.854,179.987,45.790,160.444,125.392,204.065,874.255,361.642,809.888
2,436.656,526.477,22.496,27.207,286.588,-58.939,77.528,364.5928,638.721,710.199,217.699,4.711,112.244,150.464,139.603,638.721,399.964,611.514
3,396.412,496.747,27.172,30.745,259.954,-12.410,66.322,143.3295,606.337,686.621,164.658,3.573,109.590,203.575,124.106,606.337,391.633,575.592
4,432.204,523.302,26.680,47.491,247.245,3.504,104.661,308.9071,651.958,709.292,248.666,20.811,128.656,131.261,131.884,651.958,407.608,604.467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78677,233.211,43.338,14.094,45.615,3.376,25.261,22.846,756.4827,104.223,1099.101,184.666,31.521,60.885,28.197,28.095,104.223,225.887,58.608
78678,105.559,59.184,42.592,202.133,2.288,129.688,54.611,527.5750,291.153,1865.926,770.103,159.541,231.969,88.128,157.783,291.153,880.327,89.020
78679,63.971,69.074,65.057,79.051,2.581,-1.442,42.467,578.8868,169.858,1746.235,683.985,13.994,100.784,85.765,156.341,169.858,770.233,90.807
78680,135.207,66.527,65.330,69.171,2.013,-20.401,27.217,412.6241,161.884,1736.110,694.035,3.841,95.357,82.010,135.941,161.884,776.697,92.713
78681,82.589,68.817,65.201,67.262,2.112,-50.946,45.839,354.1786,160.513,1625.370,632.122,2.061,91.696,79.365,84.995,160.513,712.687,93.251

In [27]:
# Foi escolhido dividir os dados em 70% para treino dos modelos e 30% para realizar os testes

# f(X) -> y
X_train, X_test = train_test_split(df_pre_proc, test_size=0.3)
y_train, y_test = train_test_split(target, test_size=0.3)